<template>
    <div>
        <div class="big-sidebar bg-dark h-100" style="width: fit-content; min-height: 100vh;">
            <nav class="mb-3 text-white">
                <b-nav vertical pills>
                    <b-nav-text class="px-3 mt-4" style="min-width: 180px;">
                        <b-icon icon="person-circle" class="mr-3" />{{ getNamaAdmin }}
                    </b-nav-text>
                    <!-- <b-nav-text class="mb-2 px-3" :active="isSelected('/home/dashboard')" style="min-width: 180px;">
                        <nuxt-link to="/home/dashboard"><b-icon icon="menu-button-wide-fill" /><span class="px-3">Dashboard</span></nuxt-link>
                    </b-nav-text> -->
                    <b-nav-text class="mb-2 px-3" :active="isSelected('/home/events')" style="min-width: 180px;">
                        <nuxt-link to="/home/events"><b-icon icon="calendar3-event-fill" /><span class="px-3">Events</span></nuxt-link>
                    </b-nav-text>
                    <b-nav-text class="mb-2 px-3" :active="isSelected('/home/artikels')" style="min-width: 180px;">
                        <nuxt-link to="/home/artikels"><b-icon icon="newspaper" /><span class="px-3">Artikels</span></nuxt-link>
                    </b-nav-text>
                    <b-nav-text class="mb-2 px-3" :active="isSelected('/home/showroom')" style="min-width: 180px;">
                        <nuxt-link to="/home/showroom"><b-icon icon="building" /><span class="px-3">Showrooms</span></nuxt-link>
                    </b-nav-text>
                    <b-nav-text class="mb-2 px-3" :active="isSelected('/home/customers')" style="min-width: 180px;">
                        <nuxt-link to="/home/customers"><b-icon icon="person-lines-fill" /><span class="px-3">Customers</span></nuxt-link>
                    </b-nav-text>
                    <b-nav-text class="mb-2 px-3" :active="isSelected('/home/assets')" style="min-width: 180px;">
                        <nuxt-link to="/home/assets"><b-icon icon="image-fill" /><span class="px-3">Assets</span></nuxt-link>
                    </b-nav-text>
                    <b-nav-text class="mb-2 px-3" :active="isSelected('/home/scan-qr')" style="min-width: 180px;">
                        <nuxt-link to="/home/scan-qr"><b-icon icon="upc-scan" /><span class="px-3">Scan QR</span></nuxt-link>
                    </b-nav-text>
                </b-nav>
            </nav>
            <div class="d-flex text-light align-items-center px-3 py-2">
                <nuxt-link to="/logout" class="btn btn-primary rounded-pill w-100 text-white btn-sm">
                    <b-icon icon="power" aria-hidden="true" /> Logout
                </nuxt-link>
            </div>
        </div>
        <div class="medium-sidebar bg-dark h-100" style="min-height: 100vh;">
            <div class="px-2 py-2">
                <nav class="mb-3">
                    <b-nav vertical pills>
                        <b-nav-item class="mb-2">
                            <b-icon icon="person-circle" />
                        </b-nav-item>
                        <b-nav-item :active="isSelected('/home/dashboard')" v-b-tooltip.hover.right="'Dashboard'">
                            <nuxt-link to="/home/dashboard"><b-icon icon="app" /></nuxt-link>
                        </b-nav-item>
                        <b-nav-item :active="isSelected('/home/events')" v-b-tooltip.hover.right="'Events'">
                            <nuxt-link to="/home/events"><b-icon icon="app" /></nuxt-link>
                        </b-nav-item>
                        <b-nav-item :active="isSelected('/home/artikels')" v-b-tooltip.hover.right="'Artikels'">
                            <nuxt-link to="/home/artikels"><b-icon icon="app" /></nuxt-link>
                        </b-nav-item>
                        <b-nav-item :active="isSelected('/home/showroom')" v-b-tooltip.hover.right="'Showrooms'">
                            <nuxt-link to="/home/showroom"><b-icon icon="app" /></nuxt-link>
                        </b-nav-item>
                        <b-nav-item :active="isSelected('/home/customers')" v-b-tooltip.hover.right="'Customers'">
                            <nuxt-link to="/home/customers"><b-icon icon="app" /></nuxt-link>
                        </b-nav-item>
                        <b-nav-item :active="isSelected('/home/assets')" v-b-tooltip.hover.right="'Assets'">
                            <nuxt-link to="/home/assets"><b-icon icon="qr" /></nuxt-link>
                        </b-nav-item>
                        <b-nav-item :active="isSelected('/home/scan-qr')" v-b-tooltip.hover.right="'QR'">
                            <nuxt-link to="/home/scan-qr"><b-icon icon="qr" /></nuxt-link>
                        </b-nav-item>
                    </b-nav>
                </nav>
            </div>
            <div class="d-flex text-light align-items-center px-3 py-2">
                <nuxt-link to="/logout" class="btn btn-primary rounded-pill w-100 text-white btn-sm">
                    <b-icon icon="power" aria-hidden="true" />
                </nuxt-link>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        data() {
            return {
                tab: 0,
                show: false
            }
        },
        computed: {
            ...mapGetters({
                'getNamaAdmin':'auth/getNamaAdmin',
            }),
        },
        methods: {
            isSelected(i) {
                return i == this.$route.fullPath
            },
        },
    }
</script>

<style scoped>
    @media (max-width: 575.98px) {
        .big-sidebar {
            display: none;
        }

        .medium-sidebar {
            /* display: none; */
        }
    }

    @media (min-width: 576px) and (max-width: 767.98px) { 
        .big-sidebar {
            display: none;
        }

        .medium-sidebar {
            /* display: none; */
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) { 
        .big-sidebar {
            display: none;
        }

        .medium-sidebar {
            /* display: none; */
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) { 
        .big-sidebar {
            /* display: none; */
        }

        .medium-sidebar {
            display: none;
        }
    }

    @media (min-width: 1200px) { 
        .big-sidebar {
            /* display: none; */
        }

        .medium-sidebar {
            display: none;
        }
    }
</style>