<template>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <h1>Artikel Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b-form-group
                    id="input-group-title"
                    label="Judul Artikel"
                    label-for="input-title"
                >
                    <b-form-input
                    id="input-title"
                    v-model="form.title"
                    placeholder="Masukkan judul artikel"
                    :state="validation.title"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="validation.title">
                        Judul tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-12">
                <b-form-group
                    id="input-group-body"
                    label="Konten Artikel"
                    label-for="input-body"
                >
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            <b-button-group>
                                <b-button variant="primary">
                                    <b-icon icon="type-bold" @click="wrapSelection('**')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="type-italic" @click="wrapSelection('*')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="dash" @click="appendSelection('\n***')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="type-strikethrough" @click="wrapSelection('~~')"></b-icon>
                                </b-button>
                            </b-button-group>

                            <b-button-group>
                                <b-button variant="primary">
                                    <b-icon icon="link45deg" @click="appendSelection('[link](https://www.example.com)')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="card-image" @click="appendSelection('![alt text](image.jpg)')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="list-ol" @click="appendSelection('\n1. \n2. \n3. \n')"></b-icon>
                                </b-button>
                                <b-button variant="primary">
                                    <b-icon icon="list-ul" @click="appendSelection('\n- \n- \n- \n')"></b-icon>
                                </b-button>
                            </b-button-group>
                        </div>
                        <div class="col-md-6">
                            <b-button-group>
                                <b-button variant="primary" @click="appendSelection('# ')">
                                    H1
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('## ')">
                                    H2
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('### ')">
                                    H3
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('#### ')">
                                    H4
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('##### ')">
                                    H5
                                </b-button>
                                <b-button variant="primary" @click="appendSelection('###### ')">
                                    H6
                                </b-button>
                            </b-button-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <b-form-textarea
                                ref="md-textarea"
                                class="mt-3"
                                id="input-body"
                                v-model="form.body"
                                placeholder="Enter something..."
                                rows="8"
                                max-rows="8"
                            ></b-form-textarea>
                            <b-form-invalid-feedback :state="validation.body">
                                Konten tidak boleh kosong
                            </b-form-invalid-feedback>
                        </div>
                        <div class="col-md-6">
                            <h6>Result</h6>
                            <div v-html="$md.render(form.body)" class="text-break"></div>
                        </div>
                    </div>
                </b-form-group>
            </div>
            <div class="col-md-6">
                <b-form-group
                    id="input-group-category"
                    label="Kategori"
                    label-for="input-category"
                >
                    <b-form-input
                        id="input-category"
                        v-model="form.category"
                        placeholder="Masukkan kategori"
                        :state="validation.category"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="validation.category">
                        Masukkan kategori
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-6">
                <b-form-group
                    id="input-group-tipe"
                    label="Tipe Artikel"
                    label-for="input-tipe"
                >
                    <b-form-select v-model="form.tipe" :options="['ARTIKEL','FAQ']" :state="validation.tipe"></b-form-select>
                    <b-form-invalid-feedback :state="validation.tipe">
                        Pilih Tipe Artikel
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-6">
                <b-form-group
                    id="input-group-author"
                    label="Ditulis oleh"
                    label-for="input-author"
                >
                    <b-form-select v-model="form.author" :options="listAuthor" :state="validation.author"></b-form-select>
                    <b-form-invalid-feedback :state="validation.author">
                        Pilih author
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-12">
                <b-button v-if="type == 'insert'" variant="primary" pill class="px-5" :disabled="loading" @click="handleInsert">Add Artikel</b-button>
                <b-button v-else variant="primary" pill class="px-5" :disabled="loading" @click="handleUpdate">Update Artikel</b-button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                type:'insert',
                loading: false,
                listAuthor:[
                    'Mitrapabrik',
                    'Ko Hendra',
                    'Pak Johan',
                ],
                customButtons: [
                    {
                        label: "H1",
                        key: "h1",
                        icon: "fas fa-h1",
                        group: "basic"
                    }
                ],
                form: {
                    title:'',
                    body:'',
                    category:'',
                    author:'',
                    tipe:'',
                },
                validation: {
                    title:null,
                    body:null,
                    category:null,
                    author:null,
                    tipe: null,
                }
            }
        },
        methods: {
            async handleInsert() {
                this.loading = true
                for(const key in this.validation) {
                    this.validation[key] = null
                }
                await this.$axios.post(`/artikels`, this.form, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(res => {
                    this.$router.push({ name: 'home-artikels' })
                })
                .catch(err => {
                    err.response.data.errors.forEach(row => {
                        this.validation[row.param] = false
                    });
                })
                this.loading = false
            },
            async handleUpdate() {
                this.loading = true
                for(const key in this.validation) {
                    this.validation[key] = null
                }
                await this.$axios.put(`/artikels`, this.form, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(res => {
                    this.$router.push({ name: 'home-artikels' })
                })
                .catch(err => {
                    err.response.data.errors.forEach(row => {
                        this.validation[row.param] = false
                    });
                })
                this.loading = false
            },
            wrapSelection(wrappingString) {
                let textArea = this.$refs["md-textarea"]
                var s = textArea.selectionStart;
                var e = textArea.selectionEnd;
                var oldValue = textArea.value;
                var newValue = oldValue.slice(0, s) + wrappingString + oldValue.slice(s, e) + wrappingString + oldValue.slice(e, oldValue.length);
                this.form.body = newValue;
            },
            appendSelection(wrappingString) {
                let textArea = this.$refs["md-textarea"]
                var s = textArea.selectionStart;
                var e = textArea.selectionEnd;
                var oldValue = textArea.value;
                var newValue = oldValue.slice(0, s) + wrappingString + oldValue.slice(s, e) + oldValue.slice(e, oldValue.length);
                this.form.body = newValue;
            }
        },
        mounted() {
            if(localStorage.getItem('payload-edit')) {
                this.type = 'update'
                let row = JSON.parse(localStorage.getItem('payload-edit'))
                console.log(row)
                this.form = row
            } 
        }
    }
</script>