<template>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12">
                <h1>Showroom Form</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b-form-group
                    id="input-group-title"
                    label="title"
                    label-for="input-title"
                >
                    <b-form-input
                    id="input-title"
                    v-model="form.title"
                    placeholder="Masukkan title"
                    :state="validation.title"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="validation.title">
                        Title tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-4">
                <b-form-group
                    id="input-group-alamat"
                    label="Alamat showroom"
                    label-for="input-alamat"
                >
                    <b-form-input
                        class="mt-3"
                        id="input-alamat"
                        v-model="form.alamat"
                        :state="validation.alamat"
                        placeholder="Alamat lengkap showroom"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="validation.alamat">
                        Alamat tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-4">
                <b-form-group
                    id="input-group-kota"
                    label="Kota showroom"
                    label-for="input-kota"
                >
                    <b-form-input
                        class="mt-3"
                        id="input-kota"
                        v-model="form.kota"
                        :state="validation.kota"
                        placeholder="Kota showroom"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="validation.kota">
                        Kota tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-md-4">
                <b-form-group
                    id="input-group-droppin"
                    label="Drop Pin Alamat"
                    label-for="input-droppin"
                >
                    <b-form-input
                        class="mt-3"
                        id="input-droppin"
                        v-model="form.drop_pin"
                        :state="validation.drop_pin"
                        placeholder="Drop Pin google maps"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="validation.drop_pin">
                        Drop pin tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col-12">
                <div class="listbrand-container">
                    <b-form-group
                        id="input-group-listbrand"
                        label="List Brand"
                        label-for="input-listbrand"
                    >
                        <b-form-checkbox-group
                            id="checkbox-group-1"
                            v-model="form.list_brand"
                            :options="listBrands"
                            :state="validation.list_brand"
                            stacked
                        ></b-form-checkbox-group>
                        <b-form-invalid-feedback :state="validation.list_brand">
                            Pilih minimal 1 brand
                        </b-form-invalid-feedback>
                    </b-form-group>
                </div>
            </div>
            <div class="col-12">
                <b-form-group
                    id="input-group-wacontact"
                    label="No. WA Contact"
                    label-for="input-wacontact"
                >
                    <b-form-input
                        class="mt-3"
                        id="input-wacontact"
                        v-model="form.wa_contact"
                        placeholder="contoh: 082248687953"
                        :state="validation.wa_contact"
                    ></b-form-input>
                    <b-form-invalid-feedback :state="validation.wa_contact">
                        Nomor WA tidak valid
                    </b-form-invalid-feedback>
                </b-form-group>
            </div>
            <div class="col">
                <b-button v-if="type == 'insert'" variant="primary" pill class="px-5" :disabled="loading" @click="handleInsert">Add Showroom</b-button>
                <b-button v-else variant="primary" pill class="px-5" :disabled="loading" @click="handleUpdate">Update Showroom</b-button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                type:'insert',
                loading: false,
                form: {
                    title:'',
                    alamat:'',
                    list_brand:[],
                    kota:'',
                    drop_pin:'',
                    wa_contact:'',
                    status:0,
                },
                listBrands:[],
                validation: {
                    title:null,
                    alamat:null,
                    list_brand:null,
                    kota:null,
                    drop_pin:null,
                    wa_contact:null,
                    status:null,
                }
            }
        },
        methods: {
            async handleInsert() {
                this.loading = true
                for(const key in this.validation) {
                    this.validation[key] = null
                }
                await this.$axios.post(`/showrooms/add`, this.form, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(res => {
                    this.$router.push({ name: 'home-showrooms' })
                })
                .catch(err => {
                    err.response.data.errors.forEach(row => {
                        this.validation[row.param] = false
                    });
                })
                this.loading = false
            },
            async handleUpdate() {
                this.loading = true
                for(const key in this.validation) {
                    this.validation[key] = null
                }
                await this.$axios.put(`/showrooms/update`, this.form, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(res => {
                    this.$router.push({ name: 'home-showroom' })
                })
                .catch(err => {
                    err.response.data.errors.forEach(row => {
                        this.validation[row.param] = false
                    });
                })
                this.loading = false
            },
        },
        async mounted() {
            let fetchBrands = await this.$axios.get(`/user/partners`)
            fetchBrands.data.data.forEach(row => {
                this.listBrands.push({
                    text:row.nama_perusahaan,
                    value:row.id_user,
                })    
            });
            
            if(localStorage.getItem('payload-edit')) {
                this.type = 'update'
                let row = JSON.parse(localStorage.getItem('payload-edit'))
                let tmpBrandId = []
                row.list_brand.forEach(b => {
                    tmpBrandId.push(b.id)
                });
                row.list_brand = tmpBrandId
                this.form = row
            } 
        }
    }
</script>

<style scoped>
    .listbrand-container {
        max-height: 200px;
        overflow-y: scroll;
    }
</style>