<template>
    <div class="d-flex">
        <SideBar />
        <NuxtChild />
    </div>
</template>

<script>
    export default {
        middleware: 'auth',
        async mounted() {
            console.log("masuk")
        }
    }
</script>

<style scoped>

</style>