<template>
    <div class="container-fluid d-flex justify-content-center align-items-center bg-dark" style="min-height: 100vh;">
      <div class="row">
          <div class="col-12 text-center text-white my-3">
              <h3>Login</h3>
          </div>
          <div class="col-12">
            <b-card
                class="mb-2"
            >
                <b-form @submit.prevent="login">
                    <b-form-group
                        id="input-group-1"
                        label="Username:"
                        label-for="input-1"
                    >
                        <b-form-input
                            id="input-1"
                            v-model="form.id_admin"
                            placeholder="Username"
                            :state="validation.id_admin"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="validation.id_admin">
                            Username tidak valid
                        </b-form-invalid-feedback>
                    </b-form-group>
                    <b-form-group
                        id="input-group-2"
                        label="Password:"
                        label-for="input-2"
                    >
                        <b-form-input
                            id="input-2"
                            v-model="form.password"
                            type="password"
                            placeholder="Password"
                            :state="validation.password"
                        ></b-form-input>
                        <b-form-invalid-feedback :state="validation.password">
                            password tidak valid
                        </b-form-invalid-feedback>
                    </b-form-group>
                    <b-button variant="primary" block type="submit" class="mb-3" :disabled="loading">Login</b-button>
                    <b-link class="text-center"><small>Forgot Password? Click here</small></b-link>
                </b-form>                
            </b-card>
          </div>
      </div>
    </div>
</template>

<script>
  import { mapActions } from 'vuex'
  export default {
      middleware: 'landing',
      data() {
        return {
          form: {
            id_admin:'',
            password:'',
          },
          validation: {
            id_admin:null,
            password:null,
          },
          loading: false,
        }
      },
      methods: {
          ...mapActions({
            'adminLogin':'auth/adminLogin'
          }),
            async login() {
                this.loading = true
                for(const key in this.validation) {
                    this.validation[key] = null
                }
                await this.$axios.post('/user/admin/login',this.form).then(res => {
                    this.adminLogin(res.data.data)
                    this.$cookies.set('admin-token',res.data.token)
                    this.$router.push({ name: 'home' })
                }).catch(err => {
                    if(err.response)
                        err.response.data.errors.forEach(row => {
                            this.validation[row.param] = false
                        });
                })
                this.loading = false
            }
      }
  }
</script>
