<template>
    <div class="container-fluid mx-4">
        <div class="row mt-3">
            <div class="col-12">
                <h1>Artikels</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <b-button variant="primary" pill class="px-5" size="sm" @click="openInsertForm">+ Add</b-button>
            </div>
            <div class="col-12 p-0">
                <b-table
                    v-if="!loading"
                    :items="items" 
                    :fields="fields"
                    responsive
                    head-variant="dark"
                    :current-page="currentPage"
                    :per-page="perPage"
                    :filter="filter"
                    @filtered="onFiltered"
                >
                    <template #cell(body)="row">
                        <p class="d-inline-block text-truncate" style="max-width: 150px;">{{ row.item.body }}</p>
                    </template>
                    <template #cell(timestamp)="row">
                        {{ $formatIDDate(row.item.timestamp) }}
                    </template>
                    <template #cell(status)="row">
                        {{ row.item.status == 0 ? 'Unpublished.' : 'Published.' }}
                    </template>
                    <template #cell(action)="row">
                        <b-button size="sm" class="mr-2" variant="success" pill @click="publishArtikel(row)" block>{{ row.item.status == 0 ? 'Publish' : 'Unpublish' }}</b-button>
                        <b-button size="sm" class="mr-2" variant="primary" pill @click="openEditForm(row)" block>Edit</b-button>
                        <b-button size="sm" class="mr-2" variant="dark" pill block @click="openDeleteAlert(row)">Delete</b-button>
                    </template>
                </b-table>
            </div>
            <div class="col-12">
                <b-pagination
                    v-if="!loading"
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                    class="my-3"
                ></b-pagination>
            </div>
        </div>
        <b-modal centered content-class="shadow" :visible="showAlert" hide-footer hide-header>
            <p class="my-2 text-center">Apakah anda yakin hendak menghapus data ini?</p>
            <div class="row">
                <div class="col-md-12">
                    <b-button variant="primary" pill class="w-25 float-right mx-2" @click="deleteData">Ya</b-button>
                    <b-button variant="light" pill class="w-25 float-right mx-2" @click="showAlert = !showAlert">Tidak</b-button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showAlert: false,
                loading: false,
                items:[],
                fields:[
                    {key:'id_artikel',sortable:true}, 
                    {key:'title',sortable:true}, 
                    {key:'body',sortable:true}, 
                    {key:'category',sortable:true}, 
                    {key:'author',sortable:true}, 
                    {key:'timestamp',sortable:true}, 
                    {key:'tipe',sortable:true}, 
                    {key:'status',sortable:false}, 
                    {key:'action',sortable:false}, 
                ],
                currentPage:1,
                totalRows:0,
                perPage:10,
                filter:'',
                tmpData: {},
            }
        },
        methods: {
            async fetchTableData() {
                let listartikels = await this.$axios.get(`/artikels`)
                console.log(listartikels)
                this.totalRows = listartikels.data.data.length
                this.items = listartikels.data.data
            },
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            openInsertForm() {
                localStorage.removeItem('payload-edit')
                this.$router.push({ name: 'home-mutations-artikel-form' })
            },
            openEditForm(row) {
                localStorage.setItem('payload-edit',JSON.stringify(row.item))
                this.$router.push({ name: 'home-mutations-artikel-form' })
            },
            async publishArtikel(row) {
                await this.$axios.put(`/artikels/publish`, {
                    id_artikel:row.item.id_artikel,
                    status:row.item.status == 1 ?  0 : 1,
                }, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(async res => {
                    this.$bvToast.toast(`Artikel status updated.`, {
                        title: 'Info',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                    await this.fetchTableData();
                })
                .catch(err => {
                    this.$bvToast.toast(`Mohon maaf terjadi kesalahan. Silahkan coba beberapa saat lagi.`, {
                        title: 'Error',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                })
            },
            openDeleteAlert(row) {
                this.showAlert = true
                this.tmpData = row
            },
            async deleteData() {
                await this.$axios.delete(`/artikels`,{ headers: {
                    "auth-token":this.$cookies.get('admin-token')
                },
                data: {
                    id_artikel:this.tmpData.item.id_artikel,
                }})
                .then(async res => {
                    this.$bvToast.toast(`Artikel deleted.`, {
                        title: 'Info',
                        autoHideDelay: 5000,
                        solid: true,
                    })
                    await this.fetchTableData();
                })
                .catch(err => {
                    console.log(err.response)
                })
                this.showAlert = false
            },
        },
        async mounted() {
            await this.fetchTableData()
            this.loading = false
        }
    }
</script>

<style scoped>

</style>