<template>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12">
                <h1>Dashboard</h1>
                <h1>Hello Analytics Reporting API V4</h1>
            </div>
            <div class="col-12">
                <!-- The Sign-in button. This will run `queryReports()` on success. -->
                <p class="g-signin2" v-on:data-onsuccess="queryReports"></p>

                <!-- The API response will be printed here. -->
                <textarea cols="80" rows="20" id="query-output"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        head() {
            return {
                script: [{
                    src: 'https://apis.google.com/js/client:platform.js'  
                }], 
                meta: [
                    {
                        hid:'google-signin-client_id',
                        name:'google-signin-client_id',
                        content:'586582848377-78tqafmm8sur8mn51pt2nb4m1uuuh1ha.apps.googleusercontent.com',
                    },
                    {
                        hid:'google-signin-scope',
                        name:'google-signin-scope',
                        content:'https://www.googleapis.com/auth/analytics.readonly',
                    }
                ]
            }
        },
        methods: {
            queryReports() {
                gapi.client.request({
                path: '/v4/reports:batchGet',
                root: 'https://analyticsreporting.googleapis.com/',
                method: 'POST',
                body: {
                    reportRequests: [
                    {
                        viewId: '256515210',
                        dateRanges: [
                        {
                            startDate: '7daysAgo',
                            endDate: 'today'
                        }
                        ],
                        metrics: [
                        {
                            expression: 'ga:sessions'
                        }
                        ]
                    }
                    ]
                }
                }).then(this.displayResults, console.error.bind(console));
            },
            displayResults(response) {
                var formattedJson = JSON.stringify(response.result, null, 2);
                document.getElementById('query-output').value = formattedJson;
            }
        },
        mounted() {
            // Replace with your view ID.
            // var VIEW_ID = '256515210';
            // this.queryReports(VIEW_ID)
        }
    }
</script>

<style scoped>

</style>