<template>
    <div class="container-fluid vh-100">
        <div class="row">
            <div class="col-12">
                <p class="error">{{ error }}</p>
                <qrcode-stream :camera="camera" @decode="onDecode" @init="onInit">
                <div v-show="showScanConfirmation" class="scan-confirmation">
                    <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_960_720.png" alt="Checkmark" width="128px" />
                </div>
                </qrcode-stream>
            </div>
        </div>


        <b-modal centered content-class="shadow" :visible="showAlert" hide-footer hide-header>
            <h3 class="my-2 text-center">QR Code berhasil di scan!</h3>
            <div class="row" v-if="result">
                <div class="col-12 mb-3">
                    Recipient details: <br> <b>transaction ID:</b> {{ result.id_trans }}
                </div>
                <div class="col-6">
                    <span class="font-weight-bold">Email</span>
                    <p>{{ result.email }}</p>
                    <span class="font-weight-bold">Nama Lengkap</span>
                    <p>{{ result.nama_depan }} {{ result.nama_belakang }}</p>
                    <span class="font-weight-bold">No. HP</span>
                    <p>{{ result.no_hp }}</p>
                </div>
                <div class="col-6">
                    <span class="font-weight-bold">Event Name</span>
                    <p>{{ result.event_name }}</p>
                    <span class="font-weight-bold">Tgl Event</span>
                    <p>{{ $formatIDDate(result.starting_date) }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b-button variant="primary" pill @click="showAlert = false" block>Ya</b-button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showAlert: false,
                camera: 'auto',
                result: null,
                error: '',
                showScanConfirmation: false,
            }
        },
        methods: {
            async onDecode (decodedUrl) {
                this.camera = 'off'
                // await this.axios.post(decodedUrl)
                await this.$axios.put(decodedUrl, {}, { headers: {
                    "auth-token":this.$cookies.get('admin-token')
                }})
                .then(res => {
                    this.showAlert = true
                    this.result = res.data.data[0]
                })
                .catch(err => {
                    console.log(err)
                })
                // await this.$axios.put('/events/attend/e3762f10-4b46-11ec-9bdd-7b415e82d84c', {}, { headers: {
                //     "auth-token":this.$cookies.get('admin-token')
                // }})
                // .then(res => {
                //     this.showAlert = true
                //     this.result = res.data.data[0]
                // })
                // .catch(err => {
                //     console.log(err)
                // })
                this.camera = 'auto'
                
            },
            async onInit (promise) {
                try {
                    await promise
                } catch (error) {
                    if (error.name === 'NotAllowedError') {
                    this.error = "ERROR: you need to grant camera access permission"
                    } else if (error.name === 'NotFoundError') {
                    this.error = "ERROR: no camera on this device"
                    } else if (error.name === 'NotSupportedError') {
                    this.error = "ERROR: secure context required (HTTPS, localhost)"
                    } else if (error.name === 'NotReadableError') {
                    this.error = "ERROR: is the camera already in use?"
                    } else if (error.name === 'OverconstrainedError') {
                    this.error = "ERROR: installed cameras are not suitable"
                    } else if (error.name === 'StreamApiNotSupportedError') {
                    this.error = "ERROR: Stream API is not supported in this browser"
                    } else if (error.name === 'InsecureContextError') {
                    this.error = 'ERROR: Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.';
                    } else {
                    this.error = `ERROR: Camera error (${error.name})`;
                    }
                }
            },
        }
    }
</script>

<style scoped>
.scan-confirmation {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, .8);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
</style>